---
const today = new Date();
---

<footer>
  <div
    class="mt-5 py-5 border-t border-neutral-700 text-center text-sm text-gray-400"
  >
    &copy; {today.getFullYear()}
    <a href="https://amrf.me" target="_blank" class="cursor-pointer underline text-blue-400"
      >amrf.me</a
    >. All rights reserved.
  </div>
</footer>
