---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import portfolioImage from "../../public/amir-min.jpeg";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate: string;
    updatedDate?: string;
    img?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, img },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <main>
      <a href="/">
        <div class="my-5 text-gray-400 cursor-pointer">Back</div>
      </a>
      <article
        class="article prose prose-gray md:prose-lg lg:prose-xl max-w-none"
      >
        <h1 class="title">{title}</h1>
        <div
          class="flex flex-row items-center justify-start gap-2 p-2 bg-neutral-800 rounded-md my-4"
        >
          <div class="h-12 w-12 rounded-lg overflow-hidden">
            <img src={portfolioImage} class="portfolio" />
          </div>
          <div>
            <p class="author">By Amir</p>
            <p class="published">
              Published on {
                new Date(pubDate).toLocaleDateString("en-us", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                })
              }
            </p>
          </div>
        </div>
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
